<form [formGroup]="theForm">
  <mat-form-field>
    <input matInput formControlName="autoControl" required placeholder="Select Name" [matAutocomplete]="auto">
    <mat-error>Field is required</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.employee_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span style="margin-right:10px;"></span>
  <mat-form-field>
    <input  formControlName="dateControl" required matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>Field is required</mat-error>
  </mat-form-field>
  <button #button  mat-icon-button color="accent" [disabled]="theForm.invalid" (click)="onSearchClick()">
    <mat-icon>search</mat-icon>
  </button>
  <mat-spinner *ngIf="isLoading"  ></mat-spinner>
</form>

