<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h2>Here are lib component: </h2>
  <div style="border:0.5px grey dotted;padding:10px;">
    <app-search-lib (searchResult)="onDataOut($event)"></app-search-lib>
  </div>
  <div style="margin: 24px;">
    <pre>{{searchedData | json}}</pre>
  </div>
</div>